h1,
h2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    margin: 50px;
}

p {
    padding: 20px 0px 20px 0px;
    text-indent: 20px;
}

.synopsis {
    padding: 5px 0px 5px 0px;
}

a:link {
    color: blue;
    text-decoration: line;
}

a:visited {
    color: purple;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

img {
    padding: 10px 0px 20px 0px;
}